
.config/mako/config
.config/btop/themes/pywal.theme
.config/qt5ct/colors/qt5ct.conf
.config/qt6ct/colors/qt6ct.conf
.config/vimiv/styles/pywal
.config/waybar/colors.css
.config/zathura/colors-zathura
.config/zathura/colors-zathura
