:root {
  --accent: #c5c5c5;
  --accent-overlay: #767676;
  --navbar-accent: #c5c5c5;
  --background: #191919;
  --body-background: var(--background);
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: #191919;
  --navbar-active-background: #191919;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #191919;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #c5c5c5;
  --success-hover: #7F148E;
  --primary: #3a3632;
  --primary-hover: #50473c;
  --danger: red;
  --text-log: #8C909B;
  --text-title: #E9EAEB;
  --text-default: var(--text-title);
  --text-secondary: #92A4AB;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: #92A4AB;
  --action-icon-hover: var(--accent-overlay);
  --action-icon-active: var(--text-default);
}
