:root {{
  --accent: {cursor};
  --accent-overlay: #{foreground.darken(40%)};
  --navbar-accent: {foreground};
  --background: {background};
  --body-background: var(--background);
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: {background};
  --navbar-active-background: {background};
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: {background};
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: {cursor};
  --success-hover: #7F148E;
  --primary: {color1};
  --primary-hover: {color4};
  --danger: red;
  --text-log: #8C909B;
  --text-title: #E9EAEB;
  --text-default: var(--text-title);
  --text-secondary: #92A4AB;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: #92A4AB;
  --action-icon-hover: var(--accent-overlay);
  --action-icon-active: var(--text-default);
}}
