@import "./config.rasi"

@theme "/dev/null"
@import "../themes/colors.rasi"
@import "../menu-conf.rasi"

window {
  location: south east;
  width: 12%;
  x-offset: 0%;
  y-offset: -13%;
  height: 14em;
  background-color: transparent;
  border-radius: 8px;
}

listview, element, element selected, element-text, element-icon {
  padding: 4px 0px;
  background-color: transparent;
}
