@import "../menu-conf.rasi"

window {
  location: center;
  width: 30%;
  x-offset: 0%;
  y-offset: 0;
  height: 50%;
  border-radius: 8px;
  background-color: transparent;
}

listview, element, element selected, element-text, element-icon {
  padding: 4px;
  background-color: transparent;
}

#element selected {
  background-color: @al;
  padding: 0px;
  margin: 0px;
}

