@import "./config.rasi"

@theme "/dev/null"
@import "../themes/colors.rasi"
@import "../menu-conf.rasi"

window {
  location: south east;
  width: 8%;
  x-offset: 0%;
  y-offset: -20%;
  height: 10em;
}

listview, element, element selected, element-text, element-icon {
  padding: 4px 0px;
}
